@import "tailwindcss";

.search-ai-el {
  all: unset;
}

.search-ai-content * {
  margin: 2px;
  font-size: 13px;
}

@layer components {
  .search-ai-content::-webkit-scrollbar {
    @apply w-1.5;
  }

  .search-ai-content::-webkit-scrollbar-track {
    @apply bg-gray-700 rounded-full;
  }

  .search-ai-content::-webkit-scrollbar-thumb {
    @apply bg-indigo-500 rounded-full;
  }

  .search-ai-content::-webkit-scrollbar-thumb:hover {
    @apply bg-indigo-600;
  }
}